{% extends "painel/base.html" %}
{% block title %}Trocar senha{% endblock %}
{% block content %}
<a class="back" href="{% url 'painel:dashboard' %}">&larr; Painel</a>
<h1>Trocar senha</h1>
<p class="sub">Sua senha de acesso ao painel.</p>

<form method="post" class="stack" style="max-width: 400px;">
  {% csrf_token %}
  <div class="field">
    <label for="{{ form.old_password.id_for_label }}">Senha atual</label>
    {{ form.old_password }}
    {{ form.old_password.errors }}
  </div>
  <div class="field">
    <label for="{{ form.new_password1.id_for_label }}">Nova senha</label>
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
  </div>
  <div class="field">
    <label for="{{ form.new_password2.id_for_label }}">Confirmar nova senha</label>
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
  </div>
  <div class="form-actions">
    <button type="submit" class="btn primary">Salvar nova senha</button>
  </div>
</form>
{% endblock %}
